<div class="c-cerrar-sesion">
    <div class="c-cerrar-sesion__form">
        <h2 class="c-cerrar-sesion__title">Cerrar Sesión</h2>

        <div class="bh-p-4 bh-mb-4 bh-fondo-gris-8 bh-radio-2">
            <p class="bh--color-azul-2 bh-text-lg bh-mb-2">¿Estás seguro de que quieres cerrar sesión?</p>
        </div>

        <div class="c-cerrar-sesion__actions bh-flex bh-gap-2 bh-justify-end">
            <button type="button" class="c-cerrar-sesion__button c-cerrar-sesion__button--cancel" routerLink="/inicio">
                Cancelar
            </button>
            <button type="button" class="c-cerrar-sesion__button c-cerrar-sesion__button--submit" (click)="cerrarSesion()">
                Cerrar Sesión
            </button>
        </div>
    </div>
</div>
