<div class="c-login">
  <h2 class="c-login__title">Login</h2>
  <form class="c-login__form">
    <div class="c-login__group">
      <input class="c-login__input" name="login" type="text" required [(ngModel)]="login.login" placeholder="Usuario" />
    </div>
    <div class="c-login__group">
      <input class="c-login__input" name="password" type="password" required [(ngModel)]="login.password"
        placeholder="Contraseña" />
    </div>
    <button class="c-login__button" (click)="onSubmitLogin()">Entrar</button>
  </form>
</div>